<mat-toolbar color="primary" class="app-navbar">
  <button mat-button mat-ripple routerLink="/">
    <img alt="Get-It-Free" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
    <span>Get It Free!</span>
  </button>
  <button
    *ngIf="hasSignedIn()"
    routerLinkActive="active"
    routerLink="/add-advert"
    mat-button mat-ripple>
    <span>Add advert</span>
  </button>

  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
      <button *ngIf="!hasSignedIn()" routerLink="/signup" mat-button mat-ripple>
        <span>Sign up</span>
      </button>
      <button *ngIf="!hasSignedIn()" routerLink="/login" mat-button mat-ripple>
        <span>Login</span>
      </button>
      <div *ngIf="hasSignedIn()">
          Karma: {{karmaPoints()}}
      </div>
      <button
        class="greeting-button"
        *ngIf="hasSignedIn()"
        mat-button mat-ripple
        routerLinkActive="active"
        routerLink="/user-cabinet">
        <span>{{userName()}}</span>
      </button>
    </div>
  </div>
</mat-toolbar>



