.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  text-align: left;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;

  mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


@media screen and (max-width: 599px) {
  :host {
    max-width: 999px;
  }
}
